<div class="signup">
  <div class="signup-classic">
      <h1>Login As {{user}}</h1>
     <form class="form"  id="login-form"  [formGroup]="form">
      <fieldset class="username" >
        <input
        type="text"
        formControlName="username"
        name="username"
        id="username"
        class="form-control"
      />
      <div
        *ngIf="form.controls['username']?.errors?.['errorMessage']!=null"
      >
        <p
          class="alert alert-danger"
          *ngIf="form.controls['username']?.touched"
        >
          {{ form.controls['username']?.errors?.['errorMessage'] }}
        </p>
      </div>
      </fieldset>
      <!-- [(ngModel)]="username" [(ngModel)]="password"  <fieldset class="email">
        <input type="email" placeholder="email" />
      </fieldset> -->
      <fieldset class="password">
        <input
        type="password"
        formControlName="password"
        name="password"
        id="password"
        class="form-control"
      />
      <div
        *ngIf="form.controls['password']?.errors?.['errorMessage']!=null"
      >
        <p
          class="alert alert-danger"
          *ngIf="form.controls['password']?.touched"
        >
          {{ form.controls['password']?.errors?.['errorMessage'] }}
        </p>
      </div>
      </fieldset>
      <div class="row" >
        <div class="col-md-6">
          <button  [disabled]="form.invalid" (click)="onLogin()" type="submit" class="btn">sign In</button>
        </div> 
        <!-- <div class="col-md-1"> | </div> -->
        <div class="col-md-6">
          <button id="cancel"   routerLink="/home" type="submit">cancel</button> 
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <a routerLink="/changepassword" style="float: left;">Change Password</a>
      </div>
      <div class="col-md-6">
    <a routerLink="/patient-registration" style="float: right;">Sign Up As Patient</a>
    </div>
    </div>
      <!-- <button *ngIf="user==='patient'" routerLink="/patient-registration" type="submit" class="btn">sign Up As Patient</button> -->
     </form> 
  </div>
  <div class="signup-connect">
   
  </div>
</div>